body {
  font-family: "Comic Sans MS", "Comic Sans", "Times New Roman", cursive;
  font-size: 20px;
  line-height: 1.4;
  background-repeat: repeat-y;
  background-color:rgb(0, 0, 0);
  color: rgb(209, 205, 199);
  font-weight: 300;
  background-image: url(../img/dungeon.gif);
  padding-left:30px;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url("comic-sans-ms/comici.ttf");
}

body #floatl {
  float:left;
  padding:2%;
}

body #floatr {
  float:right;
  padding:2%;
}

body p {
  text-align: center;
}

body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

button {
  background-color: #383838; /* Green */
  border: 10px;
  color: rgb(255, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

h1 {
  font-family: "Creepster";
  color:rgb(189, 0, 0);
  font-weight: 200;
  text-align: center;
  font-size: 80px;
}

midi-player {
  display: none;
}

.container {
  display:block; 
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container #ilovepizzagif {
  display:block; 
  margin-left: auto;
  margin-right: auto;
  width: auto;
}