body {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  background-repeat: repeat-y;
  background-color:rgb(0, 0, 0);
  color: rgb(209, 205, 199);
  font-weight: 300;
  background-image: url(../img/dungeon.gif);
  padding-left:30px;
}

h1 {
  font-family: "Creepster";
  color:rgb(189, 0, 0);
  font-weight: 200;
  text-align: center;
  font-size: 80px;
}

midi-player {
  display: none;
}
